<div class='page-content'>
  <div class='column'>
    <div class='tile'>
        <div class='tile-header pb-2'>Pasirinkti apžvalgą</div>

        <div class='table-list list-hover' >
          <div class='list-item' routerLink='/reporting/student'>
            Vieno mokinio apžvalga
          </div>
          <div class='list-item' routerLink='/reporting/class'>
            Klasės/mokinių grupės apžvalga
          </div>
          <div class='list-item' routerLink='/reporting/yearly'>
            Mokymosi rezultatai kiekvienais metais
          </div>
          <div class='list-item' routerLink='/reporting/levels'>
            Mokinių sąrašas pagal lygmenis
          </div>
        </div>
  
    </div>
  </div>
</div>