.trimester-list {
    padding-left: 20%;

    .trimester-item {
        margin-bottom: 15px; 

        .trimester-name {
            font-size: 15px;

        }

        .trimester-date {
            font-size: 12px;
            color: #37474F;
        }
    }
}